body {
      font-family: Arial, sans-serif;
      padding: 0;
      background-image:radial-gradient(#7a98c6,#9bc3de,#8faab8);
      padding-top: 30px;
      padding-bottom: 30px;
      display:grid;
     
  }
  header {
    background-color: #284860;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-size: 1.5rem;
}
header input {
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 5px;
}
  .row
  { 
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:0 10px;
  padding:0 3px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  }
  .card
  {
      display:flex;
      flex-direction: column;
      background-color:#fff;
      color:black;
      padding-bottom: 10px;
      gap:0;
      border-radius: 25px;
  }
  .card:hover
  {
   border:#000 3px solid;
  }
  .card button {
      display:flex;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight:400;
    font-size:small;
    color: rgb(0, 0, 0);
    background-color:#fff;
    border:#000  2px solid;
    padding:5px 5px 5px 5px;
    transition: .4s ease-in-out;
  }
  h3
  {
   font-style: normal;
   font-size:medium;
   font-weight:normal;
   text-align:center;
   margin:5px;
  }
  h5{
      font-style: normal;
      font-weight: 100;
      text-align:center;
      margin: 2px;
  }
  .alphabets
  {
      display:row;
       text-decoration: none;
       padding-left: 250px;
       padding-top: 30px;
       text-decoration: none;
  }
  .alpha
  {
     color:black;
     text-decoration: none;
     font-size: larger;
     font-family: cursive;
     text-decoration: none;
  }
  button
  {
     color:black;
     font-size: medium;
    font-family: cursive;
    background-color: #fff;
    text-decoration: none;
  }
  button.a
  {
      text-decoration:none;
      font-size: medium;
  }
  button:hover{
          text-decoration: none;
         }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }