body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}
header {
    background-color: #284860;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-size: 1.5rem;
}
header input {
    padding: 8px;
    width: 30%;
    border: none;
    align-content: center;
    border-radius: 50px;
}
.alphabets 
{
    display:inline-block;
     text-decoration: none;
     padding-left: 250px;
     padding-top: 30px;
     text-decoration: none;
}
.alphabets a{
    text-decoration: none;
}
.alpha
{
   color:black;
   text-decoration: none;
   font-size: medium;
   font-family: cursive;
   text-decoration:none;
}
button.a
{
    text-decoration:none;
}