div.info
{
  font-family:cursive;
  font-style: italic;
  font-size: larger;
  font-weight: bold;
}
.main-section1
{
  display:grid;
  grid-template-columns:repeat(3 , 1fr);
 row-gap: 30px;
 column-gap: 40px;
 padding-top: 30px;
 text-align: center !important;
 justify-content: center !important;
 width:80%;
 margin:0 auto;
}
.medication-card
{
display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px black;
  padding:4px;
  text-align:center;
  width:300px;
  height:230px;
  column-gap: 20px;
}
.medication-card a
{
  margin:10px 0;
  font-size: 1.2rem;
  color:#0077c0;
}
.medication-card h3
{
 color:rgb(5, 37, 74);
}
.medication-card h2
{
  color:rgb(117, 5, 5);
  text-decoration: line-through;
}
.see-all 
{
 display:flex;
 align-items: center;
 justify-content: center;
padding-left: 150%;
}
.see-all a
{
background-color: rgb(0, 0, 0);
padding: 6px;
border-radius: 50px;
color:#fff;
text-decoration: none;
}
